


 body{
  background:url("fondo1.jpg");
  background-size: cover;
  justify-content: center;
 }

 .totaldivs{
  margin-left: 260px;
  justify-content: center;
  width: 100px;
}

.info{
 margin-right:  5px;
margin-bottom: 5px;
width: 300px;
height: 500px;
background-color: rgb(0, 124, 128);
border-style: groove;
border-width: 10px;
align-content: top;
color: whitesmoke; 
border-style: groove;
border-width: 15px;
border-color: rgb(71, 68, 68);
}

.edicion{
  overflow: scroll;
  height:1.6em;
  font-family: 'Shadows Into Light', cursive;
  font-size: 16px;
  margin-left: 20px;
}

.misTarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
}

.tarjeta {
  margin: 5px;
  padding: 10px;
  background: white;
  box-shadow: 1px 1px rgba(0, 0, 0, .1);
}

.paginas{
  text-align: center;
  margin-bottom: 20px;
}


button {
  background:BLACK;
  padding: 10px;
  border: 4px outset #AAA;
  color: rgb(216, 15, 15);
  width: 100px;
  font:impact;
  font-size: 20px;
}

@media all and (max-width:375px) {
  .titulo{
      color:red;
  }  
}