/*
Displays simples

display: block|inline|inline-block;

block
    - Respetan margins, paddings, width y height
      en los 4 lados
    - Forzan un salto de linea despues del elemento
    - Si no se especifica width toman el 100% de su
      contenedor

    Elementos que tienen block por default:
        div  p  h1-h6  li  pre  header  footer  ...

inline
    - Respetan margins y paddings solo a 
      la izquierda y derecha *
    - width y height son ignorados
    - Permite otros elementos en la misma linea
    - se puede alargar el alto con line-height

    Elementos que tienen inline por default:
        span  a   img  input  button iframe  ...


inline-block
    - Respeta margins, paddings, width y height
      en los 4 lados
    - Permite otros elementos en la misma linea

*/
.logo{
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;

}


img,src {
width: 272px;    


}

.caja {
    width: 500px;
    margin: auto;
    box-shadow:   0px 1px 4px rgba(0,0,0,.2);
}
#boxmicro {
    padding: 8px;
    border: none;
    width: 450px;
   vertical-align: middle;
   outline: none;
}

.micro {
    margin-top: 0;
    vertical-align: middle;
    width: 25px;
   
}


.boxdos div{
    margin: 25px 10px 0;
    display: inline-block;
    border: none;
    width: 200px;
    vertical-align: middle;
    box-shadow: 0px 1px 4px rgba(0,0,0,.2);
    cursor: pointer;
}

.boxdos{
    
    color: grey;
    font-size: 13px;
    font-family: Arial,sans-serif;
    text-align: center;
}





