body {
    margin: 100px 50px 25px;
    background: red;
    
}

input {
    display:block; 
    margin-bottom: 15px; 
    padding: 10px;
    text-align: center;
    font-family: 'play';
    font-size: 1.5em; 
}

input.tipo2 {
text-align: right;
}

button {
    font-size: 1.2em;
    padding: 5px 25px
}